/* regole di reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: solid 1px black;
}

.container__body{
    
    display: flex;
    flex-direction: column;

}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;

}

.nav__bar{
    height:calc(100%)-150px;
    width: 200px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.nav__bar li{
    text-decoration-style: none;
}

.content{
    height: 100%;
    flex-grow: 1;
    background-color: darkblue;
    display: flex;
    flex-direction: column;

}

.tool__bar{
    height: 60px;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

/* toolbar */

.sinister{
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: row;
}

.half{
    flex-basis: 70%;
    height: 100%;
}

.quarter{
    flex-basis: 30%;
    height: 100%;
}

.player{
    height: 100%;
    width: 35%;
}

.set{
    height: 100%;
    width: 250px; 
}

.logo{
    height: 70px;
    width: 80px;
    background-color: red;
}

/* contenuti */
.one{
    display: flex;
    flex-direction: column;

}

.option__list{
    display:flex;
    flex-direction: row;
    text-decoration:none;
    justify-content: center;
    align-items: center;
    
}

.option__list li{
    display: inline-block;
    margin-right: 1rem;
    
    
}

.link{
    height: 70px;
    width: 90%;
    margin-top: 11rem;
    display: inline-block;
}

.user{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
}

.light__bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* card */
.card__container{
    display: flex;
    flex-direction: row;
    min-height: 70px;
    gap: 0.5rem;
    padding: 1rem;
    
}

.card{
    flex-basis: 0;
    flex-grow: 1;
    min-height: 50px;
    display: flex;
    flex-direction: column;
   
}

.img{
    flex-basis: 70%;
}

.text{
    flex-basis: 30%;
}

h2,p{
    padding-left: 1rem;
}

.second{
    max-width: 16%;
}

.round{
    max-width: 16%;
    height:16%;
    border-radius: 50%;
}