/* regole di reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: solid 1px black; */
}

html{
    font-family: 'Open Sans', sans-serif;

}

:root{
    --toolbar-bg-color:#282828;
    --content-bg-color:#141922;
    --navbar-bg-color:black;
}

.container__body{
    
    display: flex;
    flex-direction: column;

}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;

}

.nav__bar{
    flex-basis: 50px;
    flex-shrink: 0;
    background-color:var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    color: darkgrey;
}

.nav__bar li{
    text-decoration-style: none;
    
}

@media (min-width:550px) {
    .nav__bar{
        flex-basis: 230px;
    }
    
}

.menù__playlist{
    flex-grow: 1;
    
}

.content{
    height: 100%;
    flex-grow: 1;
    background-color: var(--content-bg-color);
    display: flex;
    flex-direction: column;
    overflow: auto;

}

.tool__bar{
    height: 90px;
    width: 100%;
    background-color: var(--toolbar-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10,0;
}

a{
    text-decoration: none;
    color: darkgrey;
}

/* toolbar */

.sinister{
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: row;
}

.half{
    flex-basis: 70%;
    height: 100%;
}

.quarter{
    flex-basis: 30%;
    height: 100%;
}

.player{
    height: 100%;
    width: 35%;
}

.set{
    height: 100%;
    width: 250px; 
}

.logo{
    height: 100px;
    width: 100%;
   
}

/* contenuti */
.one{
    display: flex;
    flex-direction: column;

}

.option__list{
    display:flex;
    flex-direction: row;
    text-decoration:none;
    justify-content: center;
    align-items: center;
    color: darkgrey;

}

.option__list li{
    display: inline-block;
    margin-right: 1rem;
    font-size: 0.6rem;
    font-weight: bold;
    
    
}

.link{
    height: 70px;
    width: 90%;
    display: inline-block;
}

.user{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
}

.light__bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* card */
.card__container{
    display: flex;
    flex-direction: row;
    padding:1rem;
    gap: 1rem;
    column-gap: 1,5rem;
    min-height:300px;
}

.card{
 flex-basis: calc(100%/5); 
 display: flex;
 flex-direction: column;
}



.metal{
    background-image: url(../img/metal_lifting.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.stranger{
    background-image: url(../img/stranger.jpeg);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
}

.quiet{
    background-image: url(../img/aquietplace.jpeg);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
}

.split{
    background-image: url(../img/split.jpeg);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;

}

.cure{
    background-image: url(../img/cure.jpeg);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;

}

.sini{
    background-image: url(../img/sinister.jpeg);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;

}

.release{
    background-image: url(../img/radar.jpeg);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;

}

.daily{
    background-image: url(../img/mixdaily.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.robot{
    background-image: url(../img/youg.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}



.img{
     flex-basis:70%;
} 

.text{
    flex-basis: 30%;
    text-align: center;
}
    

h2,p{
    padding-left: 1rem;
}

.second{
    max-width: 16%;
}

.round{
    background-image: url(../img/einaudi.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:50%;
}

.card h3{
    color: white;
    font-size: 0.8rem;
    font-style: bold;
    width:100%;
}

.card p{
    color: darkgray;
    font-size: 0.6rem;
}

h2{
    color: white;
}

p{
    color: darkgrey;
    font-size:0.6rem ;
}

